---
import { getBlogList, getCategoryList } from "@libs/microcms.ts";
import Layout from "@layouts/Layout.astro";
import BlogList from "@components/BlogList.astro";
import Pagination from "@components/Pagination.astro";
import CategoryList from "@components/CategoryList.astro";
import { LIMIT } from "@constants/index.ts";
export const prerender = true;

export async function getStaticPaths() {
  const { totalCount } = await getBlogList({ limit: 1 });
  const totalPages = Math.ceil(totalCount / LIMIT);

  return Array.from({ length: totalPages }).map((_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}

const { page } = Astro.params;
const currentPage = Number(page) || 1;

const { contents: blogs, totalCount } = await getBlogList({
  limit: LIMIT,
  offset: (currentPage - 1) * LIMIT,
});

const { contents: categories } = await getCategoryList();

const Meta = {
  title: `Page ${currentPage}`,
};
---

<Layout Meta={Meta}>
  <div class="space-y-8">
    <BlogList blogs={blogs} />
    <Pagination totalCount={totalCount} current={currentPage} />
  </div>

  <div class="space-y-8">
    <CategoryList categories={categories} />
  </div>
</Layout>
