---
// src/layouts/Layout.astro
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getSettings } from "@libs/microcms.ts";
import "@styles/global.css";
const settings = await getSettings();
const siteTitle = settings.title;
const siteDescription = settings.description;
const url = new URL(Astro.url.pathname, Astro.site);
const isHome = Astro.url.pathname === "/";
const { Meta } = Astro.props;
const pageTitle = isHome ? siteTitle : `${Meta.title} | ${siteTitle}`;
const pageDescription = Meta.description ? Meta.description : siteDescription;
const ogImage = Meta.image
  ? Meta.image
  : new URL("/assets/images/og.png", Astro.site);
const ogType = Meta.ogType ? Meta.ogType : "blog";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- OG settings -->
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={ogType} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content={ogImage} />
    <link rel="canonical" href={url} />
  </head>
  <body>
    <Header title={siteTitle} />
    <main
      class="flex-1 container mx-auto px-4 md:px-6 py-12 grid grid-cols-1 md:grid-cols-[3fr_1fr] gap-8"
    >
      <slot />
    </main>
    <Footer title={siteTitle} />
  </body>
</html>
